secrets.py
.terraform
deployment.zip
server/requirements.txt
server/.chalice/deployments
server/chalicelib/__pycache__
cfn/
Pipfile
Pipfile.lock
attribution.txt
*.pyc.*

# misc
.DS_Store
.idea
*~
*.pyc
.envrc
.cursor
